:root {
  --btn-blue: #033fff;
}
body {
  overflow-x: hidden;
}
.btn-blue-static {
  background-color: var(--btn-blue);
  color: #fff !important;
}
.btn-blue:hover {
  background-color: var(--btn-blue);
  box-shadow: 0 0 10px rgba(3, 62, 255, 0.578);
}

.icon {
  color: var(--btn-blue);
}
section,
footer {
  padding: 60px 0;
}
header .navbar .nav-link:hover {
  border-color: #000;
}

header .navbar .nav-link {
  /* border: 1px solid red; */
  padding: 5px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
}
/* header .navbar .nav-item {
  border: 1px solid blue;
} */

.promo li {
  list-style: none;
  position: relative;
  line-height: 2.5;
}
.promo li::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 17px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #60738e;
}

.promo .btns a:first-child {
  background-color: var(--btn-blue);
}
.promo .carousel-inner {
  height: 653px;
}
.courses a {
  overflow: hidden;
  border-radius: 30px;
}
.card-img {
  transition: 0.5s;
}
.courses .card-img {
  transform: scale(1.6);
}
.courses a:hover > .card-img {
  transform: scale(1.9);
}
.card-bottom {
  color: #97c5cf;
}
.courses {
  background-color: #160d27;
}
.courses .wrap {
  width: 360px;
}
.add-info {
  border-radius: 25px;
  box-shadow: 0 10px 5px #c7c8ca;
  transform: translateY(-50px);
}

.learning {
  background-color: #eff4f7;
}
.learning .accordion-item {
  border-radius: 20px;
}
.learning .accordion-button:focus {
  box-shadow: none;
  color: #000;
  background-color: transparent;
}
.learning .accordion-button::after {
  /* color: #fff; */
  background: url(img/arr.svg),
    linear-gradient(rgb(177, 9, 177), var(--btn-blue));
  border-radius: 50%;
  /* padding: 20px; */
  background-size: 10px;
  background-repeat: no-repeat, repeat;
  background-position: center;

  /* background-blend-mode: difference;*/
  /* background-color: rgb(255, 0, 0); */
}

.learning .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.search img {
  background-color: #e5ebff;
  padding: 15px;
}

/* Slick */
.feedback .card {
  border-radius: 100px 100px 0 0;
  border: 0px;
  padding: 0 1%;
}
.slick-dots {
  /* bottom: 0px !important; */
  /* top: 389px; */
}
.wrap-img {
  background: linear-gradient(rgba(95, 82, 250, 0.3), #fff);
  border-radius: 50% 50% 0 0;
}

.img-in-block {
  border-radius: 50%;
  padding: 20px;
}
.feedback{
  overflow: hidden;
}
.feedback .slick-prev::before,
.feedback .slick-next::before {
  color: #000;
  /* font-family: "Courier New", Courier, monospace; */
}
/* Slick */
.feedback .card .wrap-img {
  position: relative;
}

.feedback .card .wrap-img:after {
  content: "";
  position: absolute;
  width: 235px;
  height: 235px;
  background-color: rgba(3, 63, 255, 0.4);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
}
.feedback .card .wrap-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
  background-color: #fff;
  width: 30px;
  height: 30px;
  z-index: 10;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.feedback .card .wrap-img:hover::after,
.feedback .card .wrap-img:hover::before {
  /* display: block; */
  opacity: 1;
}

.feedback .card-link__link {
  text-decoration: none;
}

.feedback .card-link__link i {
  margin-right: 5px;
}
.adv {
  background-color: #eff4f7;
  padding: 50px 0 !important;
}
.adv .row {
  /* gap: 1px; */
}
.adv .item {
  border-radius: 15px;
  box-shadow: 0 15px 30px rgb(202 203 206 / 25%);
  padding: 30px;
  background-color: #fff;
  font-weight: bold;
  position: relative;
}

.adv .item span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-image: linear-gradient(180deg, #7e32ff 0%, #033fff 100%);
  padding: 10px 13px;
  border-radius: 10px 0 10px 0;
}

.why {
  background-image: url(img/-jpg.jpg);
  background-size: cover;
  color: #fff;
  padding: 90px 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.why .item {
  background-color: #2a1257;
  position: relative;
  width: 400px;
  z-index: 1;
}
.why .item label {
  font-size: 22px;
}
.why .item span {
  position: absolute;
  left: 0;
  top: 0;
  color: #03e0b3;
  font-weight: bold;
  font-size: 22px;
}
.why .container {
  position: relative;
  z-index: 1;
}

.why .img-planet-rainbow {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 0;
  transform: translate(-50%);
}
.why .img-jupiter {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 0;
  animation: jupiter 3s infinite;
}

.study {
  background-image: linear-gradient(to top, #1f0066, #1b0b3f);
}

.study .tabs button,
.study .accordion button {
  background-color: #370c99 !important;
  width: 550px;
  color: #fff;
  padding: 15px 15px 15px 50px;
  position: relative;
  text-align: left;
}
.study .accordion-item {
  background-color: transparent;
}
.study .accordion button {
  width: 100%;
  margin-bottom: 30px;
}
.study .accordion-button:focus {
  box-shadow: none;
}
.study .accordion-button::after {
  background: url(img/arr.svg);
}

.study .tabs label,
.study .accordion label {
  cursor: pointer;
}
.study .tabs button span,
.study .accordion button span {
  background-image: -webkit-linear-gradient(left, #6b23df 0%, #aa2cfa 100%);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: -15px;
  bottom: 8px;
}

.study .tabs button i {
  color: #ffc600;
}

.study .tabs button .tab-active {
  color: #fff;
}

.study .tab-pane,
.study .accordion-body {
  color: #fff;
}

.study .tab-content,
.study .accordion-body {
  background-color: #370c99;
  padding: 30px;
  line-height: 2;
  margin-left: 50px;
}

.study .tab-pane span,
.study .accordion-body span {
  color: #00fcff;
  margin-top: 30px;
  display: inline-block;
}
.study .tab-pane a,
.study .accordion-body a {
  color: #ffc600;
  display: inline-block;
  margin-left: 60px;
  text-decoration: none;
}
.study .accordion-body {
  margin-left: 0;
}

footer {
  background-color: #e9f1f2;
}

footer .icons {
  color: #fff;
  /* border-radius: 50%; */
  display: inline-block;
  /* width: 20px;
  height: 20px;
  border-radius: 50%; */
}
footer .icons i {
  overflow: hidden;
  color: #60738e;
  /* border-radius: 50%; */
  display: inline-block;
  font-size: 20px;
  /* width: 30px;
  height: 30px; */
  transition: 0.5s;
}

footer .icons:hover > i {
  transform: rotate(360deg);
}
.input-email input {
  border: none;
  border-bottom: 1px solid #60738e;
  background-color: transparent;
}
.input-email input:focus {
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid #60738e;
}
.input-email button {
  border: none;
}
.input-email button:hover {
  background: none;
}
.input-email button:focus {
  box-shadow: none;
}
.input-email button i {
  transition: 0.5s;
}
.input-email button:hover i {
  transform: scaleX(-1);
}

@keyframes jupiter {
  50% {
    right: 30px;
    top: 30px;
  }
  100% {
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 1400px) {
  .feedback .card .wrap-img:hover::after {
    width: 190px;
    height: 190px;
    top: 115px;
  }
  .feedback .card .wrap-img:hover::before {
    width: 20px;
    height: 20px;
    top: 115px;
  }
}

@media screen and (max-width: 1200px) {
  .feedback .card .wrap-img:hover::after {
    width: 255px;
    height: 255px;
    top: 145px;
  }
  .feedback .card .wrap-img:hover::before {
    width: 30px;
    height: 30px;
    top: 145px;
  }
}

@media screen and (max-width: 992px) {
  .feedback .card .wrap-img:hover::after {
    width: 390px;
    height: 390px;
    top: 215px;
  }
  .feedback .card .wrap-img:hover::before {
    width: 30px;
    height: 30px;
    top: 215px;
  }
  .why .item {
    width: 100%;
  }
  .why .img-planet-rainbow {
    left: 110%;
  }
  .promo li:before {
    display: none;
  }
  .promo .carousel-inner {
    width: 520px;
    margin: 0 auto;
    height: auto;
    /* height: 576px; */
  }
}

@media screen and (max-width: 768px) {
  .courses .wrap {
    width: 100%;
  }
  .courses .card {
    height: 330px;
  }

  .feedback .card .wrap-img:hover::after {
    width: 260px;
    height: 260px;
    top: 150px;
  }
  .feedback .card .wrap-img:hover::before {
    width: 30px;
    height: 30px;
    top: 150px;
  }
}

@media screen and (max-width: 576px) {
  .promo .carousel-inner {
    width: 280px;
    margin: 0 auto;
    height: auto;
    /* height: 576px; */
  }
  .promo h1{
    font-size: 26px;
  }
  .promo ul li{
    display: none;
  }
  .promo .btns a{
    margin: 7px 0;
  }
  .courses .card-text{
    font-size: 18px !important;
  }
  .information{
    padding-bottom: 15px;
  }
  .information .add-info{
    margin: 0 10px !important;
    padding: 0 10px !important;
    width: 90% !important;
    font-size: 12px;
  }
  .information .add-info h4{
    font-size: 18px;
  }
  .information .add-info p{
    font-size: 14px;
  }
  .information .add-info .btn{
    padding: 10px !important;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .slick-slide{
    /* margin: 0 25px; */
  }
  .slick-list{
    margin: 0 -50px;
  }
  .feedback .slick-next, .feedback .slick-prev, .feedback .slick-next::before, .feedback .slick-prev::before{
    display: none;
  }
  .feedback .card-text{
    font-size: 12px;
  }
  .feedback .wrap-img:after,
  .feedback .wrap-img:before{
    display: none;
  }
  .feedback .modal-body p{
    font-size: 12px;
  }
  .why .item{
    width: 80%;
  }
  .why .item label{
    font-size: 16px;
  }
  .why .item p{
    font-size: 12px;
  }
  .study button{
    margin: 0 20px;
    width: 90% !important;
    font-size: 14px;
  }
  .study .accordion-body{
    font-size: smaller !important;
  }
  .study .accordion-body a{
    margin-left:0 ;
  }
  footer .menu{
    display: none;
  }
}
