.btn-blue:hover {
  background-color: #033fff;
  box-shadow: 0 0 10px rgba(3, 62, 255, 0.578);
}

.icon {
  color: #033fff;
}
section {
  margin: 60px 0;
}
header .navbar .nav-link:hover {
  border-color: #000;
}

header .navbar .nav-link {
  /* border: 1px solid red; */
  padding: 5px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
}
/* header .navbar .nav-item {
  border: 1px solid blue;
} */

.promo li {
  list-style: none;
  position: relative;
  line-height: 2.5;
}
.promo li::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 17px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #60738e;
}

.promo .btns a:first-child {
  background-color: #033fff;
}
.promo .carousel-inner {
  height: 653px;
}
.courses a {
  overflow: hidden;
  border-radius: 30px;
}
.card-img {
  transition: 0.5s;
}
.courses .card-img {
  transform: scale(1.6);
}
.courses a:hover > .card-img {
  transform: scale(1.9);
}
.card-bottom {
  color: #97c5cf;
}
.courses {
  background-color: #160d27;
}
.courses .wrap {
  width: 360px;
}
.add-info {
  border-radius: 25px;
  box-shadow: 0 10px 5px #c7c8ca;
  transform: translateY(-50px);
}

@media screen and (max-width: 992px) {
  .promo li:before {
    display: none;
  }
  .promo .carousel-inner {
    width: 520px;
    margin: 0 auto;
    height: auto;
    /* height: 576px; */
  }
}

.search img {
  background-color: #e5ebff;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .courses .wrap {
    width: 100%;
  }
  .courses .card {
    height: 330px;
  }
}

@media screen and (max-width: 576px) {
  .promo .carousel-inner {
    width: 320px;
    margin: 0 auto;
    height: auto;
    /* height: 576px; */
  }
}
